*{background-color: blanchedalmond;}

h1{
    color: blanchedalmond;

    background-color: rgb(22, 22, 162);

    padding: 10px;

    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3{
    color: blanchedalmond;
    
    background-color: rgb(22, 22, 162);

    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: large;

}

hr{
    color: rgb(22, 22, 162);

    width: auto;

}

img{

    display: block;

    max-width: 40%;

    margin-left: auto;

    margin-right: auto;
}

.dog{
  height: 500px; 
  width: 500px; 
}

h4{
    font-family: Helvetica;
}

